.App {
    text-align: center;
    padding: 20px;
}

.vocabulary-list {
    margin: 20px;
}

.learn-button {
    margin-top: 10px;
}

.learn-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; /* Full viewport height */
}

.learn-page h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.learn-page p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.navigation-buttons button {
    width: 100px;
}
